@import '../layout/header', '../abstracts/variables', '../abstracts/mixins', '../base/typography', '../components/buttons';

.header-categories {
    @include header;

    .category-name {
        width: 100%;
        height: 5.63rem;
        background-color: $colorBlackIntense;
        display: $displayFlex;
        justify-content: $justifyContent;
        align-items: $alignItems;
        width: 100%;

        .category-nametag {
            @include h2;
            color: $colorWhiteBright;
            font-size: 1.75rem;
            margin: 0;
            width: 100%;
            text-align: center;
        }
    }
}

.products-by-type {
    width: 100%;
    display: $displayFlex;
    flex-direction: column;
    justify-content: $justifyContent;
    align-items: $alignItems;
    // gap: 3rem;
    padding: 3rem 0;

    .product-of-type {
        width: 90%;
        display: $displayFlex;
        flex-direction: column;
        justify-content: $justifyContent;
        align-items: $alignItems;
        gap: 1rem;

        .product-image {
            width: 100%;
            height: 22rem;
            background-image: url(../../images/home-page-images/image-category-page-preview.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: $borderRadius;
        }

        .product-info {
            display: $displayFlex;
            flex-direction: column;
            justify-content: $justifyContent;
            align-items: $alignItems;
            gap: 1rem;

            .overline {
                @include overline;
                margin: 0;
            }

            .product-title {
                @include h2;
                font-size: 1.75rem;
                margin: 0;
                text-align: center;
            }

            .info-paragraph {
                @include paragraph;
                margin: 0;
                opacity: 0.5;
                text-align: center;
            }
        }
    }
}