.button-primary {
    @include buttons;
    background-color: $colorOrangeBright;

    &:hover {
        background-color: $colorOrangeFaded;
    }

    p {
        @include subTitle;
        color: $colorWhiteBright;
    }
}

.button-secondary {
    @include buttons;
    background-color: $transparent;
    border: $buttonBorderSize $buttonBorderType $colorBlackIntense;

    p {
        @include subTitle;
        color: $colorBlackIntense;
    }

    &:hover {
        background-color: $colorBlackIntense;

        p {
            color: $colorWhiteBright;
        }
    }

}


.button-outline {
    display: $displayFlex;
    align-items: $alignItems-center;
    gap: $gap-button-outline;
    color: $colorBlackIntense;
    width: max-content;

    p {
        opacity: 0.5;
        margin: 0;
    }

}

.button-special-product {
    @include buttons;
    background-color: $colorBlackIntense;
    position: relative;
    z-index: auto;

    p {
        @include subTitle;
        color: $colorWhiteBright;
    }

    &:hover {
        background-color: #4C4C4C;
    }
}

.back-button {
    width: 5rem;
    outline: 0px;
    border: 0;
    text-align: left;
    padding: 0;
    background-color: transparent;
    cursor: pointer;

    .back {
        @include paragraph;
        color: #797979;
        margin: 0;
    }

    &:hover {
        .back {
            color: $colorOrangeBright;
        }
    }
}

.back-to-home-button {
    width: 100%;
}

.quantity {
    width: 7.5rem;
    height: 3rem;
    display: $displayFlex;
    align-items: $alignItems-center;
    justify-content: space-evenly;
    background-color: $colorWhiteGray;
    @include subTitle;
    text-align: $textAlign-center;

    .subtract {
        user-select: none;
        cursor: pointer;
        width: 100%;
        height: 100%;
        color: $colorBlackIntense;
        display: $displayFlex;
        align-items: $alignItems-center;
        justify-content: $justifyContent-center;

        &::selection {
            background-color: transparent;
        }

        &:hover {
            color: $colorOrangeBright;
        }
    }

    .amount {
        user-select: none;
        width: 100%;
        height: 100%;
        display: $displayFlex;
        align-items: $alignItems-center;
        justify-content: $justifyContent-center;
        color: $colorBlackIntense;
    }

    .add {
        user-select: none;
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: $displayFlex;
        align-items: $alignItems-center;
        justify-content: $justifyContent-center;
        color: $colorBlackIntense;

        &::selection {
            background-color: transparent;
        }

        &:hover {
            color: $colorOrangeBright
        }
    }
}

.products {
    div {

        &:hover {
            @include products;
        }
    }
}