.body-overflow {
    overflow-y: auto;
    position: relative;
    overflow: hidden;
}

body {
    &::-webkit-scrollbar {
        display: none;
    }
}

.modal-background {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.on-confirmation-modal {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#thanks-modal {
    height: fit-content;
    max-width: 33.8rem;
    overflow-y: scroll;
    border-radius: $borderRadius;
    border: 0;
    padding: 2rem;
    background-color: $colorWhiteBright;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &:focus {
        outline: 0;
    }

    .dialog-visual {
        width: 100%;
        height: 100%;
        display: $displayFlex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.5rem;

        .confirmation {
            width: 100%;
            display: $displayFlex;
            @include displayFlex-style;
            align-items: flex-start;
            gap: 1rem;

            .confirm-title {
                width: 100%;
                margin: 0;
                @include h3;
                font-size: 1.5rem;
            }

            .confirm-text {
                @include paragraph;
                opacity: 0.5;
                margin: 0
            }
        }

        .confirm-summary {
            width: 100%;
            display: $displayGrid;
            grid-template-rows: auto 1fr;
            border-radius: $borderRadius;

            .summary {
                width: 100%;

                background-color: $colorWhiteGray;
                display: $displayGrid;
                grid-template-rows: auto 1fr;
                border-top-right-radius: $borderRadius;
                border-top-left-radius: $borderRadius;

                .cart-items {
                    display: $displayGrid;
                    gap: 0.5rem;
                    width: 100%;
                    max-height: 8.5rem;
                    overflow-y: scroll;
                    padding: 1rem 3% 0;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    .cart-item {
                        @include cart-products-style;
                    }
                }


                .others-from-cart {
                    border-top: 0.0625rem solid rgba(0, 0, 0, 0.4);

                    .view-others {
                        width: 100%;
                        height: 3rem;
                        outline: 0;
                        border: 0;
                        padding: 0;

                        .view-text {
                            @include paragraph;
                            font-size: 0.75rem;
                            font-weight: 700;
                            opacity: 0.5;
                        }
                    }
                }
            }

            .grand-total {
                border-bottom-right-radius: $borderRadius;
                border-bottom-left-radius: $borderRadius;
                width: 100%;
                min-height: 6rem;
                display: $displayFlex;
                @include displayFlex-style;
                align-items: flex-start;
                padding: 0 3%;
                background-color: $colorBlackIntense;
                gap: 0.5rem;

                .grand-title {
                    @include paragraph;
                    color: $colorWhiteBright;
                    opacity: 0.5;
                }

                .grand-amount {
                    @include h6;
                    color: $colorWhiteBright;
                }
            }
        }

        .button-primary {
            width: 100%;
        }
    }

    @include devices(laptop) {
        width: 50%;
    }
}

#pages-links {
    z-index: 3;
    position: absolute;
    min-width: 100%;
    padding: 0;
    max-height: 70%;
    margin: 0;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: $colorWhiteBright;
    border: 0;
    border-radius: 0 0 $borderRadius $borderRadius;

    &::-webkit-scrollbar {
        display: none;
    }

    &:focus {
        outline: 0;
    }

    .product-section {
        width: 100%;
        padding: 2rem 0 0;
        background-color: $colorWhiteBright;

        .products {
            @include product-categories-style;
        }

    }
}

#cart-modal {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    z-index: 2;
    width: 90%;
    right: 5%;
    position: absolute;
    max-height: 70%;
    overflow-y: scroll;
    border-radius: $borderRadius;
    border: 0;
    padding: 2rem 0.9rem;
    background-color: $colorWhiteBright;

    &::-webkit-scrollbar {
        display: none;
    }


    &:focus {
        outline: 0;
    }

    .cart-modal-view {
        width: 100%;
        height: 100%;
        @include displayFlex-style;
        gap: 2rem;

        .cart-summary-total {
            @include displayFlex-style;
            gap: 1rem
        }
    }

    .items-number-remove {
        @include remove-items-text-style;
    }

    .cart-summary {
        @include items-summary;
        max-height: 8.5rem;
        display: $displayFlex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .total {
        width: 100%;
        @include displayFlex-style;
        flex-direction: row;
        justify-content: space-between;

        .total-text {
            @include paragraph;
            opacity: 0.5;
        }

        .total-amount {
            @include h6;
        }
    }

    a {
        width: 100%;

        .button-primary {
            width: 100%;
        }
    }

    @include devices(tablet) {
        max-width: 23rem;
        right: 2%;
        max-height: fit-content;
        padding: 2rem 1.75rem;
    }

    @include devices(laptop) {
        right: 5%;
    }
}

.no-items {
    @include paragraph;
    font-size: 1.15rem;
}

.removed {
    display: none;
}

.removed-items {
    display: block;
}

#favorite-modal {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    z-index: 2;
    width: 90%;
    right: 5%;

    position: absolute;
    max-height: 70%;
    overflow-y: scroll;
    border-radius: $borderRadius;
    border: 0;
    padding: 2rem 1.75rem;
    background-color: $colorWhiteBright;

    &::-webkit-scrollbar {
        display: none;
    }

    &:focus {
        outline: 0;

    }

    .favorite-modal-view {
        width: 100%;
        height: 100%;
        @include displayFlex-style;
        gap: 2rem;

        .items-number-remove {
            @include remove-items-text-style;
            min-width: 15rem;
        }

        .favorite-summary {
            @include items-summary;
            display: $displayFlex;
            flex-direction: column;
            gap: 0.5rem;

            .favorite-product-info {
                display: $displayGrid;
                grid-template-columns: auto 2rem;
                justify-content: space-between;
                align-items: $alignItems-center;

                .cart-product-name {
                    display: $displayGrid;
                    grid-template-rows: 1fr 1fr;
                    text-overflow: ellipsis;
                    text-wrap: nowrap;
                    max-width: 7rem;
                    overflow: hidden;

                    .product-name {
                        @include paragraph;
                        font-style: normal;
                        font-weight: 700;
                        margin: 0;
                    }

                    .product-price {
                        @include paragraph;
                        font-size: 0.875rem;
                        font-style: normal;
                        font-weight: 700;
                        margin: 0;
                        opacity: 0.5;
                    }
                }

                .trash {
                    justify-self: flex-end;

                    svg {
                        fill: $colorOrangeBright;

                    }

                    &:hover {
                        animation: trash-animation 500ms ease-in-out forwards;
                    }
                }
            }
        }
    }

    @include devices(tablet) {
        max-width: 19rem;
        right: 7%;
        max-height: 22rem;
    }

    @include devices(laptop) {
        right: 8%;

        .favorite-modal-view {
            .favorite-summary {
                .favorite-product-info {
                    .trash {
                        transform: scale(0.8);
                    }
                }
            }
        }
    }

    @include devices(desktop) {
        right: 7%;
    }
}

@keyframes trash-animation {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -50%);
    }

    100% {
        transform: translate(0, 0);
    }
}