.product-of-type {
    width: 90%;
    display: $displayFlex;
    flex-direction: column;
    justify-content: $justifyContent-center;
    align-items: $alignItems-center;
    gap: 1rem;


    .product-image {
        width: 100%;
        height: 22rem;
        // background-image: url(../../images/home-page-images/image-category-page-preview.jpg);
        background-position: center;
        background-repeat: $bgRepeat;
        background-size: $bg-size;
        border-radius: $borderRadius;
    }

    .product-info {
        display: $displayFlex;
        flex-direction: column;
        justify-content: $justifyContent-center;
        align-items: $alignItems-center;
        gap: 1rem;

        .overline {
            @include overline;
            margin: 0;
        }

        .product-title {
            @include h2;
            font-size: 1.75rem;
            margin: 0;
            text-align: $textAlign-center;
        }

        .info-paragraph {
            @include paragraph;
            margin: 0;
            opacity: 0.5;
            text-align: $textAlign-center;
        }
    }

    @include devices(tablet) {
        gap: 3.25rem;

        .product-image {
            // background-image: url(../../images/home-page-images/image-category-page-preview-tablet.jpg);
        }

        .product-info {
            width: 75%;

            .product-title {
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }

        }
    }

    @include devices(laptop) {
        flex-direction: row;
        gap: 7rem;

        .product-image {
            width: 100%;
            height: 35rem;
        }

        .product-info {
            width: 100%;
            align-items: flex-start;

            .product-title {
                text-align: left;
            }

            .info-paragraph {
                text-align: left;
            }
        }
    }
}