@use 'variables';

@mixin buttons {
    width: $buttonsWidth;
    height: $buttonsHeight;
    flex-shrink: $flexShrink;
    display: $displayFlex;
    justify-content: $justifyContent;
    align-content: $alignItems;
}

@mixin products {
    .button-3 {
        p {
            color: $colorOrangeBright;
        }
    }
}