@mixin buttons {
    width: $buttonsWidth;
    height: $buttonsHeight;
    flex-shrink: $flexShrink;
    display: $displayFlex;
    justify-content: $justifyContent-center;
    align-content: $alignItems-center;

}

@mixin products {
    .button-outline {
        p {
            color: $colorOrangeBright;
        }
    }
}

@mixin navbar {

    .navbar-pages {
        width: 100%;
        background-color: $colorBlackIntense;
        height: 5.63rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.104);
        display: $displayFlex;
        align-items: $alignItems-center;
        justify-content: $justifyContent-center;
        position: relative;
        z-index: 1;
        padding: 0 0.625rem;

        .navbar-menu {
            height: 100%;
            width: 100%;
            display: $displayFlex;
            align-items: $alignItems-center;
            justify-content: space-between;
            gap: 10px;
            padding: 0;


            .logo {
                justify-self: center;
                width: fit-content;
                display: $displayFlex;
                align-items: $alignItems-center;
                justify-content: $justifyContent-center;
            }

            .favorite_cart {
                display: $displayFlex;
                gap: 0.8rem;
            }

            .menu {
                .home-links {
                    display: none;

                    .sub-title {
                        &:hover {
                            color: $colorOrangeBright;
                        }
                    }
                }
            }
        }
    }
}


@mixin product-categories-button {
    align-items: $alignItems-center;
    display: $displayFlex;
    flex-direction: column;
    position: relative;

    img {
        width: 50%;
        position: absolute;

    }
}

@mixin bg-images {
    background-position: center;
    background-repeat: $bgRepeat;
    background-size: $bg-size;
    border-radius: $borderRadius;
}

@mixin displayFlex-style {
    display: $displayFlex;
    justify-content: $justifyContent-center;
    align-items: $alignItems-center;
    flex-direction: column;
}

@mixin section-style {
    padding: 1.5rem 0;
    width: 100%;
    display: $displayFlex;
    align-items: $alignItems-center;
    justify-content: $justifyContent-center;
    flex-direction: column;
    gap: 1.5rem;
}

@mixin wrong {
    @include paragraph;
    font-size: 0.75rem;
    text-align: right;
    color: #CD2C2C;
}