.navbar {
    @include navbar;
}

a {
    .back {
        background-color: $colorWhiteFaded;
        @include paragraph;
        color: #797979;
        margin: 0;
        padding: 1.5rem 5% 0;
    }

    .from-checkout {
        background-color: $colorWhiteGray;
    }

    @include devices(laptop) {
        .back {

            padding: 3rem 5% 0;
        }
    }
}

.chosen-product {
    @include section-style;
    background-color: $colorWhiteFaded;

    .product-chosen {
        width: 90%;
        display: $displayFlex;
        align-items: $alignItems-center;
        justify-content: $justifyContent-center;
        flex-direction: column;
        gap: 1.5rem;

        .product-image {
            width: 90%;
            height: 22rem;
            // background-image: url(../../images/home-page-images/image-category-page-preview.jpg);
            background-position: center;
            background-repeat: $bgRepeat;
            background-size: $bg-size;
            border-radius: $borderRadius;
        }

        .product-info {
            display: $displayFlex;
            flex-direction: column;
            justify-content: $justifyContent-center;
            align-items: $alignItems-center;
            gap: 1rem;

            .overline {
                @include overline;
                margin: 0;
            }

            .product-title {
                @include h2;
                font-size: 1.75rem;
                margin: 0;
                text-align: $textAlign-center;
            }

            .info-paragraph {
                @include paragraph;
                margin: 0;
                opacity: 0.5;
                text-align: $textAlign-center;
            }
        }

        .price-cart-adding {
            width: 100%;
            @include displayFlex-style;
            gap: 1rem;

            .price-favorite {
                width: 90%;
                display: $displayGrid;
                align-items: $alignItems-center;
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem;

                .product-price {
                    @include h6;
                    width: 90%;
                    margin: 0;
                }

                .favorite-svg {
                    @include displayFlex-style;
                    flex-direction: row;
                    padding-left: 5rem;
                    transform: scale(1.25);

                    svg {
                        fill: $colorOrangeBright;
                        fill-opacity: 0;
                        stroke: $colorOrangeBright;
                        stroke-linecap: butt;
                        stroke-dasharray: 0;
                        stroke-width: 2rem;

                        &:hover {

                            animation: favorite-animation 500ms ease-in-out forwards;
                        }
                    }

                    .favorite-added {
                        fill-opacity: 1;
                    }
                }
            }


            @keyframes favorite-animation {
                0% {
                    transform: scale(1);
                    fill-opacity: 0;
                }

                50% {
                    transform: scale(1.25);
                }

                100% {
                    transform: scale(1);
                    fill-opacity: 1;
                }
            }

            .cart-adding {
                width: 90%;
                display: $displayFlex;
                justify-content: flex-start;
                align-items: $alignItems-center;
                gap: 1rem;
            }

        }
    }

    @include devices(tablet) {
        .product-chosen {
            width: 90%;
            display: $displayGrid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 2.5fr 1fr;
            gap: 5%;

            .product-image {
                // background-image: url(../../images/home-page-images/image-product.jpg);
                grid-column: 1/2;
                grid-row: 1/3;
                width: 100%;
                height: 30rem;
            }

            .product-info {
                grid-column: 2/3;
                grid-row: 1/2;
                align-items: flex-start;
                width: 90%;

                .product-title {
                    text-align: left;
                    width: 100%;
                }

                .info-paragraph {
                    text-align: left;
                    width: 100%;
                }

            }

            .price-cart-adding {
                height: 100%;
                grid-column: 2/3;
                grid-row: 2/3;
                align-items: flex-start;
                justify-content: start;
                width: 100%;

                .price-favorite {
                    .favorite-svg {
                        padding-left: 2rem;
                    }
                }
            }
        }
    }

    @include devices(laptop) {
        .product-chosen {
            .product-info {
                .product-title {
                    font-size: 2.5rem;
                }

                .info-paragraph {
                    text-align: left;
                    width: 100%;
                }

            }
        }
    }
}

.features-content {
    @include section-style;
    gap: 4rem;
    background-color: $colorWhiteFaded;

    .features-content-title {
        @include h3;
        width: 100%;
        text-align: start;
        font-size: 1.5rem;
        margin: 0;
    }

    .features-paragraph,
    .item {
        @include paragraph;
        margin: 0;
        opacity: 0.5;
    }

    .features {
        width: 90%;
        display: $displayFlex;
        align-items: $alignItems-center;
        justify-content: $justifyContent-center;
        flex-direction: column;
        gap: 1.5rem;
    }

    .box-content {
        width: 90%;
        display: $displayFlex;
        justify-content: $justifyContent-center;
        flex-direction: column;
        gap: 1.5rem;

        .items-list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: $displayFlex;
            justify-content: $justifyContent-center;
            flex-direction: column;
            gap: 0.5rem;

            .box-items {
                display: $displayGrid;
                grid-template-columns: 1rem 1fr;
                gap: 1.5rem;

                .number-of-items {
                    @include paragraph;

                    color: $colorOrangeBright;
                }
            }
        }
    }

    @include devices(tablet) {
        gap: 7.5rem;
        padding: 10rem 0;

        .features-content-title {
            font-size: 2rem;
            align-self: flex-start;
        }

        .features {
            gap: 2rem;
        }

        .box-content {
            flex-direction: row;
            justify-content: flex-start;
        }
    }

    @include devices(laptop) {
        flex-direction: row;
        padding: 0 5%;
        align-items: flex-start;

        .features {
            width: 100%;
        }

        .box-content {
            flex-direction: column;
            width: 60%;
        }
    }
}

.images-cards {
    width: 100%;
    padding: 4rem 0;
    display: $displayFlex;
    align-items: $alignItems-center;
    justify-content: $justifyContent-center;
    flex-direction: column;
    background-color: $colorWhiteFaded;

    .cards {
        width: 90%;
        display: $displayFlex;
        align-items: $alignItems-center;
        justify-content: $justifyContent-center;
        flex-direction: column;
        gap: 1.25rem;

        .cards-split {
            width: 100%;
            display: $displayFlex;
            align-items: $alignItems-center;
            justify-content: $justifyContent-center;
            flex-direction: column;
            gap: 1.25rem;

            .image-card-split {
                width: 100%;
                height: 10.875rem;
            }

            .first {
                @include bg-images;
                // background-image: url(../../images/home-page-images/image-gallery-1.jpg);
            }

            .second {
                @include bg-images;
                // background-image: url(../../images/home-page-images/image-gallery-2.jpg);
            }
        }

        .card-singular {
            width: 100%;
            height: 23rem;
            // background-image: url(../../images/home-page-images/image-gallery-3.jpg);
            @include bg-images;
            filter: brightness(80%);
        }
    }

    @include devices(tablet) {
        .cards {
            flex-direction: row;

            .cards-split {
                width: 70%;

                .first {
                    // background-image: url(../../images/home-page-images/image-gallery-1-tablet.jpg);
                }
            }
        }
    }

    @include devices(laptop) {
        .cards {
            .card-singular {
                height: 37rem;
            }

            .cards-split {
                .image-card-split {
                    height: 17.5rem;
                }

                .first {
                    // background-image: url(../../images/home-page-images/image-gallery-1-desktop.jpg);
                }

                .second {
                    height: 17.5rem;
                }
            }
        }
    }
}

.other-products {
    width: 100%;
    padding: 5rem 0;
    display: $displayFlex;
    align-items: $alignItems-center;
    justify-content: $justifyContent-center;
    flex-direction: column;
    background-color: $colorWhiteFaded;

    .also-want {
        width: 90%;
        display: $displayFlex;
        align-items: $alignItems-center;
        justify-content: $justifyContent-center;
        flex-direction: column;
        gap: 2.5rem;

        .also-like-title {
            @include h3;
            width: 100%;
            font-size: 1.5rem;
            margin: 0;
            text-align: $textAlign-center;
        }

        .other-products-list {
            width: 100%;
            @include displayFlex-style;
            gap: 3.5rem;

            .other-product {
                width: 100%;
                display: $displayFlex;
                align-items: $alignItems-center;
                justify-content: $justifyContent-center;
                flex-direction: column;
                gap: 2rem;

                .other-product-image {
                    width: 100%;
                    height: 7.5rem;
                    // background-image: url(../../images/home-page-images/image-xx99-mark-one-headphones.jpg);
                    @include bg-images;
                }

                .other-name-btn {
                    width: 100%;
                    display: $displayFlex;
                    align-items: $alignItems-center;
                    justify-content: $justifyContent-center;
                    flex-direction: column;
                    gap: 2rem;

                    .other-product-title {
                        margin: 0;
                    }
                }
            }
        }
    }

    @include devices(tablet) {
        .also-want {
            .also-like-title {
                font-size: 2rem;
            }

            .other-products-list {
                flex-direction: row;
                gap: 1rem;

                .other-product {
                    .other-product-image {
                        height: 20rem;
                        // background-image: url(../../images/home-page-images/image-product-1-tablet.jpg);
                    }

                    .other-name-btn {
                        .other-product-title {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}