.inputs {
    width: 100%;
    height: 3.5rem;
    border: 0.0625rem solid #CFCFCF;
    border-radius: $borderRadius;
    padding: 1rem;
    font-weight: 700;
    font-size: 0.875rem;
    font-family: $fontFamily;


    &:focus {
        border: 0.0625rem solid $colorOrangeBright;
        outline: none;
        caret-color: $colorOrangeBright;
    }

    &::placeholder {
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        opacity: 0.4;
    }

}


input[type="radio"] {
    accent-color: $colorOrangeBright;
}

.input-method {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0.5rem;

}

.error-input {
    .label-and-error {
        .form-label {
            color: #CD2C2C;
        }

        .error-text {
            display: block;
        }
    }

    .inputs {
        border: 0.0625rem solid #CD2C2C;
    }

}

.error {
    border: 0.0625rem solid #CD2C2C;
}