*,
::before,
::after {
  box-sizing: border-box;
}

html {
  line-sizing: normal;
}

body {
  margin: 0;
}

[hidden] {
  display: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

h1 {
  margin: 0.67em 0;
}

pre {
  white-space: pre-wrap;
}

hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: inherit;
  height: 0;
  overflow: visible;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
}

picture {
  display: contents;
}

source {
  display: none;
}

img,
svg,
video,
canvas {
  height: auto;
}

audio {
  width: 100%;
}

img {
  border-style: none;
}

svg {
  overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
navbar,
hgroup,
main,
nav,
section {
  display: block;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: Manrope, sans-serif;
}

a {
  text-decoration: none;
}

.button-primary {
  width: 10rem;
  height: 3rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #D87D4A;
}
.button-primary:hover {
  background-color: #FBAF85;
}
.button-primary p {
  color: #D87D4A;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.5625rem;
  letter-spacing: 0.05806rem;
  text-transform: uppercase;
  color: #FFF;
}

.button-secondary {
  width: 10rem;
  height: 3rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: transparent;
  border: 1px solid #000;
}
.button-secondary p {
  color: #D87D4A;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.5625rem;
  letter-spacing: 0.05806rem;
  text-transform: uppercase;
  color: #000;
}
.button-secondary:hover {
  background-color: #000;
}
.button-secondary:hover p {
  color: #FFF;
}

.button-outline {
  display: flex;
  align-items: center;
  gap: 0.83263rem;
  color: #000;
  width: -moz-max-content;
  width: max-content;
}
.button-outline p {
  opacity: 0.5;
}

.button-special-product {
  width: 10rem;
  height: 3rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #000;
}
.button-special-product p {
  color: #D87D4A;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.5625rem;
  letter-spacing: 0.05806rem;
  text-transform: uppercase;
  color: #FFF;
}
.button-special-product:hover {
  background-color: #4C4C4C;
}

.quantity {
  width: 7.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #F1F1F1;
  color: #D87D4A;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.5625rem;
  letter-spacing: 0.05806rem;
  text-transform: uppercase;
  text-align: center;
}
.quantity .subtract {
  width: 100%;
  height: 100%;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantity .subtract:hover {
  color: #D87D4A;
}
.quantity .amount {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}
.quantity .add {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}
.quantity .add:hover {
  color: #D87D4A;
}

.products div:hover .button-outline p {
  color: #D87D4A;
}

.navbar {
  height: 5.63rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.104);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.navbar .navbar-menu {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0 0.625rem;
}
.navbar .navbar-menu .logo {
  justify-self: center;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .navbar-menu .favorite_cart {
  display: flex;
  gap: 0.8rem;
}
.navbar .navbar-menu .menu a {
  display: none;
}

.home {
  width: 100%;
  height: 100vh;
  background-image: url(../../images/home-page-images/image-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
  border-radius: 0;
}
.home .darken {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.home .new-product {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 1.5rem;
  padding-bottom: 30%;
}
.home .new-product .product-title {
  color: #000;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.625rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #FFF;
  font-size: 36px;
  margin: 0;
  width: 90%;
}
.home .new-product .overline {
  color: #D87D4A;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.625rem;
  text-transform: uppercase;
  margin: 0;
  color: #FFF;
  opacity: 0.4964;
  font-size: 14px;
  width: 90%;
  margin: 0;
}
.home .new-product .paragraph {
  color: #000;
  font-size: 0.938rem;
  font-weight: 500;
  line-height: 1.5625rem;
  color: #FFF;
  width: 90%;
  margin: 0;
  opacity: 0.75;
}

.best-products-section {
  width: 100%;
  padding-bottom: 5rem;
}
.best-products-section .best-products {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}
.best-products-section .best-products .special-product-card {
  width: 90%;
  height: 37.5rem;
  background-color: #D87D4A;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5rem;
  justify-content: end;
  padding: 2rem 0;
  overflow: hidden;
}
.best-products-section .best-products .special-product-card .circles {
  position: absolute;
  width: 100%;
  top: 0;
  transform: scale(1.8);
}
.best-products-section .best-products .special-product-card .speaker-img {
  width: 50%;
  position: absolute;
  top: 3rem;
  left: 25%;
}
.best-products-section .best-products .special-product-card .special-product-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}
.best-products-section .best-products .special-product-card .special-product-card-info .product-title {
  color: #000;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.625rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  font-size: 2.25rem;
  width: 80%;
  text-align: center;
  color: #FFF;
  margin: 0;
}
.best-products-section .best-products .special-product-card .special-product-card-info .paragraph {
  color: #000;
  font-size: 0.938rem;
  font-weight: 500;
  line-height: 1.5625rem;
  color: #FFF;
  opacity: 0.75;
  text-align: center;
  width: 80%;
  margin: 0;
}
.best-products-section .best-products .normal-product-card {
  width: 90%;
  height: 20rem;
  border-radius: 0.5rem;
  background-image: url(../../images/home-page-images/image-speaker-zx7-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}
.best-products-section .best-products .normal-product-card .normal-product-card-info {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 50%;
  justify-content: center;
  padding-left: 0.75rem;
}
.best-products-section .best-products .normal-product-card .normal-product-card-info .product-title {
  color: #000;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.625rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  margin: 0;
}
.best-products-section .best-products .product-card-split {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.best-products-section .best-products .product-card-split .earphones-image {
  width: 100%;
  height: 12.5rem;
  background-image: url(../../images/home-page-images/image-earphones-yx1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
}
.best-products-section .best-products .product-card-split .product-card-split-info {
  width: 100%;
  height: 12.5rem;
  border-radius: 0.5rem;
  background-color: #F1F1F1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 0.75rem;
}
.best-products-section .best-products .product-card-split .product-card-split-info .product-title {
  color: #000;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.625rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  margin: 0;
}

.navbar-categories .navbar-pages {
  width: 100%;
  background-color: #000;
  height: 5.63rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.104);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding: 0 0.625rem;
}
.navbar-categories .navbar-pages .navbar-menu {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0;
}
.navbar-categories .navbar-pages .navbar-menu .logo {
  justify-self: center;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-categories .navbar-pages .navbar-menu .favorite_cart {
  display: flex;
  gap: 0.8rem;
}
.navbar-categories .navbar-pages .navbar-menu .menu a {
  display: none;
}
.navbar-categories .category-name {
  width: 100%;
  height: 5.63rem;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.navbar-categories .category-name .category-nametag {
  color: #000;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.75rem;
  letter-spacing: 0.08931rem;
  text-transform: uppercase;
  color: #FFF;
  font-size: 1.75rem;
  margin: 0;
  width: 100%;
  text-align: center;
}

.products-by-type {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.footer-section {
  width: 100%;
}
.footer-section .footer {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  gap: 2.5rem;
  padding: 3rem 0;
}
.footer-section .footer .notch {
  background-color: #D87D4A;
  width: 6.3125rem;
  height: 0.25rem;
  position: absolute;
  top: 0;
}
.footer-section .footer .page-access {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.footer-section .footer .page-access .access {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.footer-section .footer .page-access .access p {
  color: #D87D4A;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.5625rem;
  letter-spacing: 0.05806rem;
  text-transform: uppercase;
  color: #FFF;
  margin: 0;
}
.footer-section .footer .page-access .access p:hover {
  color: #D87D4A;
}
.footer-section .footer .footer-about-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.footer-section .footer .footer-about-copyright .paragraph-footer {
  width: 80%;
  color: #000;
  font-size: 0.938rem;
  font-weight: 500;
  line-height: 1.5625rem;
  color: #FFF;
  opacity: 0.5;
  text-align: center;
  margin: 0;
}
.footer-section .footer .footer-about-copyright .paragraph-copyright {
  color: #000;
  font-size: 0.938rem;
  font-weight: 500;
  line-height: 1.5625rem;
  width: 80%;
  color: #FFF;
  opacity: 0.5;
  text-align: center;
  margin: 0;
}
.footer-section .footer .contact {
  display: flex;
  width: 6.5rem;
  align-items: center;
  justify-content: space-between;
}

.about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding-bottom: 5rem;
}
.about .img-about {
  width: 90%;
  height: 18.8rem;
  background-image: url(../../images/home-page-images/image-best-gear.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
}
.about .about-us {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.about .about-us .about-title {
  color: #000;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.75rem;
  letter-spacing: 0.08931rem;
  text-transform: uppercase;
  display: block;
  font-size: 1.75rem;
  margin: 0;
  text-align: center;
  letter-spacing: 0.0625rem;
  line-height: normal;
}
.about .about-us .about-title .evident-word {
  color: #D87D4A;
}
.about .about-us .paragraph-about {
  color: #000;
  font-size: 0.938rem;
  font-weight: 500;
  line-height: 1.5625rem;
  text-align: center;
  opacity: 0.5;
  margin: 0;
}

.products {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 7rem 0;
}
.products .headphones-products {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.products .headphones-products img {
  width: 50%;
  position: absolute;
}
.products .headphones-products img {
  top: -50%;
}
.products .speakers-products {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.products .speakers-products img {
  top: -40%;
}
.products .speakers-products img {
  width: 50%;
  position: absolute;
}
.products .earphones-products {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.products .earphones-products img {
  top: -35%;
}
.products .earphones-products img {
  width: 50%;
  position: absolute;
}
.products .gray-div {
  width: 90%;
  height: 10.3125rem;
  background-color: #F1F1F1;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.products .gray-div .prod-type {
  color: #000;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.08038rem;
  text-transform: uppercase;
  margin: 0;
  font-size: 15px;
}

.navbar .navbar-pages {
  width: 100%;
  background-color: #000;
  height: 5.63rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.104);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding: 0 0.625rem;
}
.navbar .navbar-pages .navbar-menu {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0;
}
.navbar .navbar-pages .navbar-menu .logo {
  justify-self: center;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .navbar-pages .navbar-menu .favorite_cart {
  display: flex;
  gap: 0.8rem;
}
.navbar .navbar-pages .navbar-menu .menu a {
  display: none;
}

.chosen-product {
  padding: 1.5rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.chosen-product a {
  width: 90%;
}
.chosen-product a .back {
  color: #000;
  font-size: 0.938rem;
  font-weight: 500;
  line-height: 1.5625rem;
  opacity: 0.5;
  margin: 0;
}
.chosen-product .product-of-type {
  gap: 1.5rem;
}
.chosen-product .product-of-type .product-info {
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}
.chosen-product .product-of-type .product-info .overline {
  width: 100%;
}
.chosen-product .product-of-type .product-info .product-title {
  text-align: start;
}
.chosen-product .product-of-type .product-info .info-paragraph {
  text-align: start;
}
.chosen-product .product-price {
  color: #000;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.08038rem;
  text-transform: uppercase;
  width: 90%;
  margin: 0;
}
.chosen-product .cart-adding {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.features-content {
  padding: 1.5rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}
.features-content .features-content-title {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: 0.07144rem;
  text-transform: uppercase;
  width: 100%;
  text-align: start;
  font-size: 1.5rem;
  margin: 0;
}
.features-content .features-paragraph,
.features-content .item {
  color: #000;
  font-size: 0.938rem;
  font-weight: 500;
  line-height: 1.5625rem;
  margin: 0;
  opacity: 0.5;
}
.features-content .features {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.features-content .box-content {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.features-content .box-content .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
.features-content .box-content .items-list .box-items {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.features-content .box-content .items-list .box-items .special-item {
  transform: translateX(-0.2rem);
}
.features-content .box-content .items-list .box-items .number-of-items {
  color: #000;
  font-size: 0.938rem;
  font-weight: 500;
  line-height: 1.5625rem;
  color: #D87D4A;
}

.images-cards {
  width: 100%;
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.images-cards .cards {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.25rem;
}
.images-cards .cards .cards-split {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.25rem;
}
.images-cards .cards .cards-split .image-card-split {
  width: 100%;
  height: 10.875rem;
}
.images-cards .cards .cards-split .first {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
  background-image: url(../../images/home-page-images/image-gallery-1.jpg);
}
.images-cards .cards .cards-split .second {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
  background-image: url(../../images/home-page-images/image-gallery-2.jpg);
}
.images-cards .cards .card-singular {
  width: 100%;
  height: 23rem;
  background-image: url(../../images/home-page-images/image-gallery-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
}

.other-products {
  width: 100%;
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.other-products .also-want {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
}
.other-products .also-want .also-like-title {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: 0.07144rem;
  text-transform: uppercase;
  width: 100%;
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}
.other-products .also-want .other-product {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.other-products .also-want .other-product .other-product-image {
  width: 100%;
  height: 7.5rem;
  background-image: url(../../images/home-page-images/image-xx99-mark-one-headphones.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
}
.other-products .also-want .other-product .other-name-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.other-products .also-want .other-product .other-name-btn .other-product-title {
  margin: 0;
}

.product-of-type {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.product-of-type .product-image {
  width: 100%;
  height: 22rem;
  background-image: url(../../images/home-page-images/image-category-page-preview.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
}
.product-of-type .product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.product-of-type .product-info .overline {
  color: #D87D4A;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.625rem;
  text-transform: uppercase;
  margin: 0;
}
.product-of-type .product-info .product-title {
  color: #000;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.75rem;
  letter-spacing: 0.08931rem;
  text-transform: uppercase;
  font-size: 1.75rem;
  margin: 0;
  text-align: center;
}
.product-of-type .product-info .info-paragraph {
  color: #000;
  font-size: 0.938rem;
  font-weight: 500;
  line-height: 1.5625rem;
  margin: 0;
  opacity: 0.5;
  text-align: center;
}/*# sourceMappingURL=main.css.map */